.sidebarTab {
	width: 100%;
}
.sidebarTab-active {
	border-left: 4px solid var(--sidebarTab-color);
}
.sidebarTab__button {
	width: 70%;
	padding: 10px;
	height: 5em;
	width: 5em;
	border-radius: 50%;
	border-width: 0;
	background-color: var(--sidebarTab-color);
}

.sidebarTab__active {
	border-left: 6px solid white;
	height: 300px;
	position: absolute;
	left: 50%;
}
.sidebarTab__button:hover {
	filter: brightness(0.9);
}
.sidebarTab__button:disabled {
	filter: none;
	cursor: not-allowed;
}
