@import './Navigation/Navigations.css';
@import './WelcomeBack/WelcomeBack.css';
.navbar {
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	width: 20%;
}
.navbar .welcomeBack {
	margin: 20%;
	width: 100%;
}
@media only screen and (max-width: 600px) {
	.navbar {
		width: 100%;
		justify-content: center;
		margin-left: 0;
	}
	.navbar .welcomeBack {
		width: 50%;
	}
}
