@import './ProgressBar/ProgressBar.css';
@import './LineChart/LineChart.css';
@import './Column.css';
@import './Icon.css';
@import './Text.css';
@import './Card.css';

.dashboard {
	display: flex;
	flex-direction: column;
	margin: 3%;
}
.dashboard__row {
	display: flex;
	margin-top: 10%;
}

@media only screen and (max-width: 600px) {
	.dashboard__row {
		flex-direction: column;
	}
}
